@model DomainModel.Entity.LastMileType

@{
    ViewBag.Title = "Детальная информация";
}

<h2>Детальная информация</h2>

<div>
    <h4>Тип последней мили</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.lastMileType }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
