@model DomainModel.Entity.TypeOfService

@{
    ViewBag.Title = "Детальная информация";
}

<h2>Детальная информация</h2>

<div>
    <h4>Вид услуги</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.typeOfService }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
