@model IEnumerable<DomainModel.Entity.TypeOfService>

@{
    ViewBag.Title = "Вид услуги";
}

<h2>Вид услуги</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.typeOfService }) |
            @Html.ActionLink("Детально", "Details", new { id=item.typeOfService }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.typeOfService })
        </td>
    </tr>
}

</table>
