@model DomainModel.Entity.Post

@{
    ViewBag.Title = "Удалить ОПС";
}

<h2>Удалить ОПС</h2>

<h3>Вы уверены, что хотите это удалить?</h3>
<div>
    <h4>Отделения почтовой связи</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
